<!-- Inside the admin.handlebars view -->
<!-- Existing code for displaying user data -->
<h1>Admin Panel</h1>
<table>
  <!-- Table header -->
  <tr>
    <th>User ID</th>
    <th>Email</th>
    <th>Username</th>
    <th>Admin</th>

    {{!-- <th>Budget</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Purchase Name</th>
    <th>Purchase Price</th>
    <th>Purchase Date</th>
    <th>Actions</th> --}}
  </tr>
  <!-- Loop through users -->
  {{#each users}}
  <tr>
    <!-- User data -->
    <td>{{id}}</td>
    <td>{{email}}</td>
    <td>{{userName}}</td>
    <td>{{#if isAdmin}}Yes{{else}}No{{/if}}</td>
   
   
    {{!-- <td>{{budgetName}}</td>
    <td>{{budgetAmount}}</td>
    <td>{{categoryName}}</td>
    <td>{{PurchaseName}}</td>
    <td>{{price}}</td>
    <td>{{purchaseDate}}</td> --}}
  
    {{!-- <td>
     
      <button class="edit-btn" id="editBudgetButton{{id}}">Edit Budget</button>
      <button class="edit-category-btn" id="editCategoryButton{{id}}">Edit Category</button>
      
    </td> --}}
  </tr>
  {{/each}}
</table>

<script>


</script> 
