
    <div id="main">
        
        {{> menu}}
        
          <br>
    <br>
    </div>
   <div class="myhome-welcome">
    <h1>Welcome, {{user.userName}}!</h1>
    <h1>Your Balance : <span id="user-balance">{{user.balance}}</span></h1>

</div>

<div class="add-balance-form">
    <h2>Add Balance</h2>
    <form action="/addBalance" method="post">
        <label for="amount">Amount to Add:</label>
        <input type="number" name="amount" id="amount" required>
        <button type="submit">Add</button>
    </form>
</div>


         

    <div class="profile-container">
       
        <div class="usermodal" id="user-modal">
            <div class="myusermodal-content">
            
                {{#if user}}
                    <p>User: {{user.userName}}!</p>
                    <p>Your email: {{user.email}}</p>
                   
                    
                   <button id="show-password-modal" class="text-button" style="background: none; border: none;">Change Password</button>


                     <br>
                 <form action="/deleteAccount" method="POST" id="delete-account-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="button" id="delete-account-button" class="text-button" style="background: none; border: none;">Delete Account</button>
                    </form>
                {{else}}
                    <p>No user data available.</p>
                {{/if}}
            </div>
        </div>
    </div>
<div class="popup">
    <div class="close-btn" id="close-change-password">&times;</div>
    <div class="form">
        <h2>Change Password</h2>
        {{#if error}}
            <p class="error">{{error}}</p>
        {{/if}}
        <form class="form-element" action="/changePassword" method="POST">
            <div class="form-element">
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword" required>
            </div>
            <div class="form-element">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-element">
                <label for="confirmnewPassword">Confirm New Password:</label>
                <input type="password" id="confirmnewPassword" name="confirmnewPassword" required>
            </div>
            <div class="form-element">
                <button type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>

</div>
<div id="confirmation-dialog">
    <div id="confirmation-box">
        <div id="confirmation-text">Are you sure you want to delete your account? You will lose your information</div>
        <div id="confirmation-buttons">
            <button id="confirm-button">Confirm</button>
            <button id="cancel-button">Cancel</button>
        </div>
    </div>
</div>


<script>
  const userModal = document.getElementById('user-modal');
const userModalButton = document.getElementById('open-user-modal');
let isUserModalOpen = false;

function isClickOutsideModal(event) {
    return !userModal.contains(event.target) && event.target !== userModalButton;
}

userModalButton.addEventListener('click', () => {
    if (!isUserModalOpen) {
        userModal.style.display = 'block';
        isUserModalOpen = true;

    
        document.addEventListener('click', closeUserModalOnClickOutside);
    } else {
        userModal.style.display = 'none';
        isUserModalOpen = false;

        document.removeEventListener('click', closeUserModalOnClickOutside);
    }
});

function closeUserModalOnClickOutside(event) {
    if (isClickOutsideModal(event)) {
        userModal.style.display = 'none';
        isUserModalOpen = false;

      
        document.removeEventListener('click', closeUserModalOnClickOutside);
    }
}

    
    const changePasswordModal = document.querySelector(".popup");
    const showPasswordModalButton = document.querySelector("#show-password-modal");
    const closeChangePasswordModalButton = document.querySelector("#close-change-password");

    showPasswordModalButton.addEventListener("click", function () {
        if (!changePasswordModal.classList.contains("active")) {
            changePasswordModal.classList.add("active");
        }
        
        
        if (isUserModalOpen) {
            userModal.style.display = 'none';
            isUserModalOpen = false;
        }
    });
    
    closeChangePasswordModalButton.addEventListener("click", function () {
        if (changePasswordModal.classList.contains("active")) {
            changePasswordModal.classList.remove("active");
        }
    });
 const deleteAccountButton = document.getElementById('delete-account-button');
    const confirmationDialog = document.getElementById('confirmation-dialog');
    const confirmButton = document.getElementById('confirm-button');
    const cancelButton = document.getElementById('cancel-button');
    
    deleteAccountButton.addEventListener('click', function() {
        confirmationDialog.style.display = 'block';
    });

    cancelButton.addEventListener('click', function() {
        confirmationDialog.style.display = 'none';
    });

    confirmButton.addEventListener('click', function() {
        document.getElementById('delete-account-form').submit();
    });
</script>
