
    <div id="main">
        {{> menu}}
        <br> 
        <br>
  
      <h1>Your purchases :</h1>
 
       <div class="container">
        <div class="columns">
             <div class="column  col-xs-12 col-sm-6 col-lg-3 and col-xs-12 col-sm-6 col-lg-6 left-container">
            
          
            <table>
                <thead>
                    <tr>
                        <th>Purchase Name</th>
                        <th>Price (SEK)</th>
                        <th>Purchase Date</th>
                        
                    </tr>
           
                </thead>
            
                <tbody>
                    {{#each Purchases}}
                    <tr>
                        <td>{{PurchaseName}}</td>
                        <td>{{price}}</td>
                        <td>{{purchaseDate}}</td>
                        <td><a href="javascript:void(0);" class="more-details-btn" data-target="purchaseDetailsModal{{id}}">More Details</a></td>
                    </tr>
                    
                    {{/each}}
                </tbody>
            </table>
            </div>

    
             <div class="column  col-xs-12 col-sm-6 col-lg-3 and col-xs-12 col-sm-6 col-lg-6 right-container">
                <button id="show-add-purchase">Add Purchase</button>
                <div class="popup" id="add-purchase-modal">
                    <div class="close-btn" id="close-add-purchase">&times;</div>
                    <div class="form">
                        <h2>Add Purchase</h2>
                        <form class="form-element" action="/AddPurchase" method="POST">
                            <label for="PurchaseName">Purchase Name</label>
                            <input type="text" id="PurchaseName" name="PurchaseName" required>
                            <br>
                            <label for="price">Price:</label>
                            <input type="number" id="price" name="price" required>
                            <br>
                            <label for="budget">Select a Budget:</label>
                            <select id="budget" name="budget" required class="custom-select">
                              <option value="">Select a budget</option>
                                {{#each budgets}}
                                
                                <option value="{{id}}">{{budgetName}}</option>
                                {{/each}}
                            </select>
                            <br>
                            <label for="category">Select a Category:</label>
                            <select id="category" name="category" required class="custom-select">
                                <option value=""> Select an category</option>
                                {{#each categories}}
                                <option value="{{id}}">{{categoryName}}</option>
                                {{/each}}
                            </select>
                            <br>
                            <label for="purchaseDate">Purchase Date:</label>
                            <input type="date" id="purchaseDate" name="purchaseDate" required>
                            <br>
                            <button type="submit">Add</button>
                        </form>
                    </div>
                </div>
                </div>
       </div>
       </div>
          
                 {{#each Purchases}}
            <div class="popup" id="purchaseDetailsModal{{id}}">
                <div class="close-btn" id="closePurchaseDetails{{id}}">&times;</div>
                <div class="form">
                    <h2>Purchase Details</h2>
                    <p>Purchase Name: {{PurchaseName}}</p>
                    <p>Price (SEK): {{price}}</p>
                    <p>Purchase Date: {{purchaseDate}}</p>
                      
             
        <p>Budget: {{budgetId}}</p>
    
        
     
        <p>Category: {{categoryId}}</p>
   
                
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


                <script>
                    const addPurchaseModal = document.querySelector("#add-purchase-modal");
                    const showAddPurchaseButton = document.querySelector("#show-add-purchase");
                    const closeAddPurchaseButton = document.querySelector("#close-add-purchase");

                    showAddPurchaseButton.addEventListener("click", function () {
                        addPurchaseModal.classList.add("active");
                    });

                    closeAddPurchaseButton.addEventListener("click", function () {
                        addPurchaseModal.classList.remove("active");
                    });
                    document.addEventListener("click", function (e) {
                if (e.target.classList.contains("more-details-btn")) {
    
        const modalId = e.target.getAttribute("data-target");
        const modal = document.getElementById(modalId);

        if (modal) {
            modal.classList.add("active");
        }
    }

    if (e.target.id.startsWith("closePurchaseDetails")) {
        const modalId = e.target.id.replace("closePurchaseDetails", "");
        const modal = document.getElementById("purchaseDetailsModal" + modalId);

        if (modal) {
            modal.classList.remove("active");
        }
    }
});

                </script>
         
