<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchases</title>
    {{!-- <link rel="stylesheet" href="/css/styles-jl.css"> --}}
</head>
<body>
    <div id="main">
        {{> menu}}
                                          <h1>Your purchases</h1>
      
       {{!-- <div class="container">
            <div class ="leftcontainer"> --}}
            
          <hr>
            <table>
                <thead>
                    <tr>
                        <th>Purchase Name</th>
                        <th>Price (SEK)</th>
                        <th>Purchase Date</th>
                        
                    </tr>
                    
                </thead>
            
                <tbody>
                    {{#each Purchases}}
                    <tr>
                        <td>{{PurchaseName}}</td>
                        <td>{{price}}</td>
                        <td>{{purchaseDate}}</td>
                    </tr>
                    
                    {{/each}}
                </tbody>
            </table>
            </div>
            
                <div class="popup" id="add-purchase-modal">
                    <div class="close-btn" id="close-add-purchase">&times;</div>
                    <div class="form">
                        <h2>Add Purchase</h2>
                        <form class="form-element" action="/AddPurchase" method="POST">
                            <label for="PurchaseName">Purchase Name</label>
                            <input type="text" id="PurchaseName" name="PurchaseName" required>
                            <br>
                            <label for="price">Price:</label>
                            <input type="number" id="price" name="price" required>
                            <br>
                            <label for="budget">Select a Budget:</label>
                            <select id="budget" name="budget" required class="custom-select">
                                {{#each budgets}}
                                <option value="{{id}}">{{budgetName}}</option>
                                {{/each}}
                            </select>
                            <br>
                            <label for="category">Select a Category:</label>
                            <select id="category" name="category" required class="custom-select">
                                {{#each categories}}
                                <option value="{{id}}">{{categoryName}}</option>
                                {{/each}}
                            </select>
                            <br>
                            <label for="purchaseDate">Purchase Date:</label>
                            <input type="date" id="purchaseDate" name="purchaseDate" required>
                            <br>
                            <button type="submit">Add</button>
                        </form>
                    </div>
                </div>
                <button id="show-add-purchase">Add Purchase</button>
                <script>
                    const addPurchaseModal = document.querySelector("#add-purchase-modal");
                    const showAddPurchaseButton = document.querySelector("#show-add-purchase");
                    const closeAddPurchaseButton = document.querySelector("#close-add-purchase");

                    showAddPurchaseButton.addEventListener("click", function () {
                        addPurchaseModal.classList.add("active");
                    });

                    closeAddPurchaseButton.addEventListener("click", function () {
                        addPurchaseModal.classList.remove("active");
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>
